# File deployed by ansible
name: {{ component }}

services:
  {{ component }}:
    command:
      - {{ component }}
    container_name: {{ component }}-{{ component }}
    environment:
      BROKER_URI: {{ inv_net_broker_uri }}
      PORT: 18080
    hostname: {{ inventory_hostname}}-{{ component }}
    image: aleasoluciones/{{ component }}:{{ gitrevision }}
    logging:
      driver: syslog
      options:
        tag: docker/{{ component }}__{{ component }}
    network_mode: host
    restart: always
    volumes:
      - type: bind
        source: {{ docker_compose_data }}/{{ component }}
        target: /data
        bind:
          create_host_path: true
      - type: bind
        source: /etc/localtime
        target: /etc/localtime
        read_only: true
